.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.tab-pane .tab{
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected{
    -fx-background-color: #3c3c3c;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.tab:selected .tab-label { 
    -fx-text-fill: #04B4AE;
}